img {
    padding-left: 40px;
}

li {
    padding-left: 40px;
}

.box {
    width: 510px;
    height: 300px;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    color: white;
}

.box1 {
    width: 510px;
    height: 300px;
    background-color: rgb(7, 7, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    color: white;
}

p {
    color: white;
    text-align: center;
}

.container11 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
}

.conatiner1 {
    margin-top: 340px;
    border-bottom: gray solid;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 50px;
    padding: 20px;
}

embed {
    margin-left: 200px;
}

.h11 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    margin-left: 200px;
    margin-top: 60px;
    font-size: 35px;
    font-family: sans-serif;
}

.p1 {
    color: black;
    text-align: left;
    width: 800px;
    margin-top: 40px;
    font-size: 20px;
    line-height: 25px;
    color: gray;
}

.round {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p2 {
    color: black;
    text-align: left;
    padding-top: 40px;
    margin-left: 20px;
    font-size: 25px;
}

.p233{
    display: none;
}

.round1 {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.round11 {
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    margin-top: -120px;
}

.image {
    margin-left: 900px;
    margin-top: -300px;
}

.round12 {
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    margin-top: -290px;
}

.round13 {
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    margin-top: -290px;
}


.container2 {
    margin-top: 60px;
}

.p3 {
    padding: 20px;
    font-size: 17px;
}

.h22 {
    color: white;
}

.container3 {
    margin-top: 170px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: rgb(202, 117, 47);
}

.video {
    margin-left: 0;
}

.sub-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: -38px;
}

h4 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
}

.btn {
    margin-left: 130px;
}

.h33 {
    font-weight: 700;
    font-size: 50px;
    padding: 50px;
}

.subclass {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -35px;
    padding-top: 30px;
}

h5 {
    text-align: center;
    padding: 10px;
}

.btnn,
button {
    margin-left: 200px;
    margin-top: 10px;
    border-radius: 120px;
    outline: none;
    list-style: none;
    background-color: rgb(247, 68, 3);
    color: white;
    padding: 5px;
    width: 120px;
}

button:hover {
    background-color: white;
    color: orangered;
}

.firsts {
    padding-top: 50px;
}

.container7 {
    background-color: black;
    padding-top: 10px;
    height: auto;
    margin-top: 40px;
}

span {
    width: 300px;
    color: white;
}

svg {
    color: white;
}

.h66 {
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}

.one {
    margin-top: 40px;
}

.two {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 30px;
    margin-left: 550px;
    cursor: pointer;
}

.move1,
.move2 {
    margin-left: 40px;
}


@media screen and (max-width:500px){

.imagee{
   width: 340px;
   margin-left:30px;
   padding: 0;
}

.btn{
   display: none;
   padding:0;
}

.carousel-item{
    height: 300px;
    width: 450px;
}

.container11 {
    width:390px;
    height:auto;
    display:block;
    
}

.box,.box1{
    width: 390px;
    height:300px;
    
}

p{
    font-size: 15px;
    margin-left:26px;
}


.conatiner1 {
    margin-top: 940px;
    width:390px;
    
}

.h444{
    font-size: 20px;
    text-align: center;
}
embed {
    margin-left:0px;
    width: 360px;
    height: 300px;
}

.container2{
    width: 390px;
    height: 360px;
    
}

.h11 {
   margin-left: 50px;
    margin-top: 10px;
    font-size: 28px;
   
}

.p1 {
    
    width: 360px;
    margin-top: 20px;
    font-size: 22px;
    line-height: 25px;
    text-align:center;
}



.image,.round,.round1,.round11,.round12,.round13{
    display: none;
}



.content122{
    margin-top: -1200px;
    
}



.p233{
    margin-top: -120px;
    margin-left: 130px;
    display: block;
}



.container3{
    display: block;
    width: 390px;
    
}

.p3{
    text-align:left;
    width: 370px;
    margin-left:-30px;
}

.image1{
    margin-left:-20px;
    width: 390px;
}

.sub-content{
    display: block;
    padding-left: 35px;
}

.hh1{
    margin-left:25px;
    font-size: 20px;
}

.first{
    padding-top: 25px;
}

.h33{
    font-size: 32px;
}

h4{
    margin-left: 40px;
}


.subclass {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left:4px;
    padding-top: 10px;
    margin-top: -40px;
}

.picture{
    width: 360px;
    height: 260px;
    margin-left: -20px;

}

h5{
    font-size: 20px;
}

.btnn{
    align-items: center;
    border: none;
    outline: none;
    margin-left: 120px;
}

.container7{
    height: auto;
    margin-left: 10px;
    width: 390px;
}

.two{
   margin-left: 60px;
}

svg{
    width: 40px;
    height: 40px;
}

.subb{
    margin-left: 35px;
}

.h11{
    margin-left: 40px;
}

.carousel-inner{
    margin-left:-20px;
    width: 400px;
}

.carousel-item{
    width: 600px;
}

#carouselExampleCaptions{
    width: 435px;
    margin-left: -20px;
}

.btn {
    width: 150px;
    
}




}