h1 {
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    padding: 60px;
    margin-left: 140px;
}

h2 {
    text-align: center;
    font-weight: 600;
}

.table {
    margin-top: 50px;
}

.h32 {
    font-size: 40px;
    font-weight: 700;
    padding: 40px;
    text-align: center;
}

td,
th {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.container7 {
    background-color: black;
    padding-top: 10px;
    height: auto;
    margin-top: 40px;
}

span {
    width: 300px;
    color: white;
}

svg {
    color: white;
}

.h66 {
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}

.one {
    margin-top: 40px;
}

.two {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 30px;
    margin-left: 550px;
    cursor: pointer;
}

.move1,
.move2 {
    margin-left: 40px;
}

@media screen and (max-width:500px){

    h1 {
        font-weight: 300;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 10px;
        padding: 10px;
        margin-left:8px;
    }
    
    h2 {
        text-align: center;
        font-weight: 600;
    }

    img{
        width: 350px;

    }

    #btnn{
        display: none;
    }

    .h123{
        font-size: 20px;
        width: 360px;
    }








    .container7{
        height: auto;
    }
    
    .two{
       margin-left: 60px;
    }
    
    svg{
        width: 40px;
        height: 40px;
    }



}